<div fxLayout="row wrap" style="border: 1px solid black; width:80%;margin-top:50px;margin-left:100px;" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
  <div fxLayout="column wrap" style="border-right:1px solid black;padding:10px;" fxFlex="50" fxLayoutAlign="center center" [fxShow]="true" [fxHide]="false">
    <div style="margin-bottom:50px;">
      Parent Component</div>
    <div fxLayout="column wrap" fxLayoutAlign="center start" [fxShow]="true" [fxHide]="false">
      <form [formGroup]="userform">
        <div fxLayout="row wrap" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
          <p style="margin-top:25px;">
            Username</p>
          <mat-form-field style="margin-left:25px;" [appearance]="&apos;legacy&apos;" [floatLabel]="&apos;auto&apos;" [hideRequiredMarker]="false">
            <input matInput type="text" placeholder="Username" [required]="false" formControlName="username">
            <mat-error align="start" *ngIf="userform.controls.username.errors?.required">Username is Required</mat-error>
          </mat-form-field>
        </div>
        <div fxLayout="row wrap" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
          <p style="margin-top:25px;">
            Password</p>
          <mat-form-field style="margin-left:25px;" [appearance]="&apos;legacy&apos;" [floatLabel]="&apos;auto&apos;" [hideRequiredMarker]="false">
            <input matInput type="password" placeholder="Password" [required]="false" formControlName="password">
            <mat-error align="start" *ngIf="userform.controls.password.errors?.required">Password is Required</mat-error>
          </mat-form-field>
        </div>
        <div fxLayout="row wrap" fxLayoutAlign="center center" [fxShow]="true" [fxHide]="false"><button mat-button style="background-color:red;color:white; width:100%;" (click)="onClick()" type="button">Submit</button></div>
      </form>
    </div>
    <div fxLayout="row wrap" style="margin-top:25px;" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false" *ngIf="showchildMsg">
      <div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
        <div>
          Message From Child : {{Message}}</div>
      </div>
    </div>
  </div>
  <div fxLayout="row wrap" fxFlex="50" fxLayoutAlign="center start" [fxShow]="true" [fxHide]="false">
    <div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
      <div style="margin-bottom:50px;">
        Child Component</div>
      <bh-child *ngIf="showchild" [parentMessage]="userform.value" (messageEvent)="RecievedMessage($event)"></bh-child>
    </div>
  </div>
</div>